body{
    text-align: center;
}

#title{
    background-color: #7286D3;
    color: red;
}
.top{
    display: grid;
    grid-template-columns: 1fr  2fr;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
    background-color: #8EA7E9;
}
.greet{
    color: black;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.img{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img1{
    height: 600px;
    width: 400px;

}
.name{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end:3;
    justify-content: center;
    align-items: center;
    order: 1;
    text-align: center;
    padding-left: 50px;
    font-family: Pacifico;
}


.mid{
    background-color: #E5E0FF;
}


#footer{
    background-color: #FFF2F2;
}
a:link{
    color:black;
  
}
a:hover{
    color: purple;
}
#footer{
    padding: 5% 10%;
    text-align: center;
}


.social-icon{
    margin: 20px 10px;
}
#header{
    background-image: url(./images/bg2.jpg);
}
#tempo{
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg2.jpg);

    background-size: cover;
    background-position: center;
}
li{
    color: #8EA7E9;
}
.t1{
    height: 200px;
    width: 300px;
    color: #FFF2F2;
}
#tempo2{
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg1.png);
    background-size: cover;
    background-position: center;
}
#tempo , #tempo2{
    position: sticky;
    top: 0;
}
h1{
    text-align: center;
    font-family: Agbalumo;
    font-size: 4rem;
    
}
.ic{
    padding-left: 10px;
    padding-right: 10px;
}
.ic-1{
    padding: 20px;
}
.qr{
    height: 15rem;
    width: 15rem;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.txt{
    font-size: 3rem;
}
.my_pic{
    height: 20em;
    width: 16rem;
    border-radius: 20%;
    padding: 20px;
}
.texts{
    color: antiquewhite;
    
}
.short-intro{
    font-size: 1.2rem;
}
.h3_{
    font-size: 2rem;
    color: antiquewhite;
    text-decoration: underline;
}
.heading{
    color: antiquewhite;
    text-decoration: underline;
}